/*
 *= require global
 */

/* 

    CODE WITH ME

    Gorgeous color scheme and typography by Kuan Luo

    Green: #00b29e; green
    Tan:   #f3f1dc; background color
    Brown: #B1A77C; dark background accent
    Brown: #d8d4af; light background accent

    BODY font stack: 
    font-family: 'omnes-pro', Arial, sans-serif;
    
    H4 font stack:
    font-family: alternate-gothic-no-3-d, omnes-pro, sans-serif;

 */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Header
:: Footer
:: Mailchimp Form
:: Mobile

*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
    background-color: #f3f1dc;
    font-family: 'omnes-pro', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    border: 0.8em solid #D8D4AF;
    text-align: left;
}

a {
    color: #32B09B;
    text-decoration: none;
    line-height: inherit;
    -webkit-font-smoothing : subpixel-antialiased;
}

    a:hover { 
        color: #32B09B;
        text-decoration: underline;
    }

h1 {
    font: 600 60px/1 'omnes-pro', Arial, sans-serif;
    margin-top: 8px;
    margin-bottom: 12px;
}
    .homepage h1 {
        font-size: 7.5em;
        margin-bottom: 21px;
    }

h3 {
    line-height: 1.6;
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 7px;
}

h4 {
    font: 400 23px/34px alternate-gothic-no-3-d, omnes-pro, sans-serif;
    color: #B1A77C;
    margin: 0.1em 0 0 0;
}

p {
    font-size: 21px;
    font-weight: 300;
}

strong {
    font-weight: 600;
}

br {
    display: block;
}

li {
    font-size: 21px;
    list-style: none;
    font-weight: 300;
}

.bullet, .bullet li {
    list-style-type: disc;
    margin-left: 15px;
}

.logo {
    font: 400 2.2em/1 Pacifico, Arial, Helvetica, sans-serif;
    color: #00b29e;
}

/* -----------------------------------------
   Header
----------------------------------------- */

header {
    padding: 3em 0 1.5em 0;
}

    .rule {
        border: 1px solid #D8D4AF;    
        border-width: 1px 0 1px 0;
        padding-top:  5px;
    }

        .homepage .rule {
            border-top-width: 0;
        }

    .links {
        padding: 0.25em 0 1.75em 0;
        text-align: left;
        color: #d8d4af;
    }

        .links a {
            font-size: 18px;
            margin: 0 5px
        }
        
        .links a:first-child {
            margin-left: 0px;
        }

/* -----------------------------------------
   Footer
----------------------------------------- */

footer {
    text-align: center;
    margin: 30px 10% 20px;
    color: #505050;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 21px;
}

/* -----------------------------------------
   Mobile
----------------------------------------- */

@media only screen and (max-width:500px) {
    header {
        margin-top: 2em;
    }
    .homepage h1 {
        font-size: 40px;
    }
    p,
    .intro-row p {
        font-size: 18px;
    }
}
