/* 
   Artfully masterminded by ZURB 
   Gracefully modified by Kuan Luo, Sisi Wei and Tom Giratikanon
    
   Gorgeous color scheme and typography by Kuan Luo

   Green: #32B09B; (main logo green??)
   Tan:   #f3f1dc; (main background color)
   Brown: #d8d4af; (background accent)
   
   Main font stack: 
   font-family: 'omnes-pro', Arial, sans-serif;
   
   Label font stack:
   font-family: alternate-gothic-no-3-d, omnes-pro, sans-serif;

 */

/*
 *= require global
 */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Mentors
:: FAQ
:: Schedule
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



body {
    margin: 0;
    padding: 1em;
    background-color: #F3F1DC;
    border: 0.8em solid  #D8D4AF;
    font-family: "omnes-pro", Arial, sans-serif;
    /*font-size-adjust: 0.508;*/
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 21px;
    font-weight: 300;
}

img { 
    border: none; 
}

a {
    color: #32B09B;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    -webkit-font-smoothing : subpixel-antialiased;
}

    a:hover { 
        /*color: black;*/
        color: #32B09B;
        text-decoration: underline;
    }

/* 
    HEADER 
 */

header {
    margin: 2.5em 0 2em 0;
}

    .title-row {
        margin-bottom: .4em;
    }

        h1 {
            font-size: 46px;
            color: #32B09B;
            font-family: 'Pacifico', cursive;
            margin-bottom: 6px;
            font-weight: 400;
        }

            h1 a {
                margin-right: 0.3em;
            }

            h1 a:hover   {
                text-decoration: none;
            }

            h1 span {
                font-family: "omnes-pro", Arial, sans-serif;
                font-size: 20px;
                font-weight: 300;
                display:  inline-block;
                /*margin-left:  .5em;*/
                color:  #666;
            }

/* 
    NAVIGATION
 */

nav .columns {
    border-top: 1px solid #D8D4AF;
    margin-left:  15px;
    padding-left:  0;
}

    nav ul {
        margin-top: 6px;
        margin-bottom: 0;
        margin-left: 0;
    }

        nav ul li {
            display: inline;
            margin-right: 0px;
            vertical-align: bottom;
            margin-top: 5px;
            font-family: "omnes-pro", sans-serif;
            font-size: 1.35em;
            font-weight: 600;
            padding: 6px 20px 6px 0;
        } 

        .action {
            background-color: 
        }

    .right-nav {
        float: right;
    }

            


.button {
    background-color: #32B09B;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    margin: 0 0 16px 0;
}

footer {
    text-align: center;
    margin: 30px 10% 20px;
    color: #505050;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 21px;
}


@media only screen and (max-width:768px) {

} 




/* -----------------------------------------
  Home
----------------------------------------- */

.intro-content {
    /*margin-top: 14px;*/
}

.intro,
.intro-content p {
    font-size: 21px;
    line-height: 1.6em;
    font-weight: 300;
    padding-right: 20px;
}

.intro b {
    font-weight: 600;
}

    @media only screen and (max-width:500px) {
    .intro {
    font-size: 1.4em;
    line-height: 1.6em;
    }
} 

.intromobile {
    display: none;
    font-size: 1.5em;
    font-style: italic;
}

@media only screen and (max-width:768px) {
    .intromobile {
        display: block;
    }
}

.sponsors {
    margin-top: 2em;
}

.sponsor-header {
    margin-top: 28px;
}

.sponsor {
    border-bottom: 1px solid #D8D4AF;
    padding: 15px 0;
}   
    .sponsor:first-child {
        padding-top: 0;
    }

    .sponsor:last-child {
        border-bottom: none;
    }
    
    .sponsor img {
        margin: 0 0 5px;
    }

    .sponsor p {
        font-size: 15px;
        line-height: 1.4;
        color: #444;
        margin: 0;
    }


/* -----------------------------------------
    Apply   
----------------------------------------- */

.applications iframe {
    border: 1px solid #d8d4af;
}

    
/* -----------------------------------------
    Mentors   
----------------------------------------- */


.name {
    color:  #32B09B;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 3px;
}

.title {
    text-align: center;
    font-size: 14px;
    margin-top: -15px;
}
.work {
    font-size: 14px;    
    font-style: italic;
    text-align: center;
    margin-top: -20px;
}

.work a {
    color: black;
}

#mentors img {
    border-radius: 15px;
    width: 206px;
}

p.title, p.work {
    line-height: 18px;
    padding-bottom: 8px;
}

/* -----------------------------------------
   FAQ
----------------------------------------- */

h4, h2 {
    font-family: "alternate-gothic-no-3-d", "omnes-pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #C7C2A1;
}
    
h2 {
    font-size: 26px;
}

.header h2 {
    color: #00B39E;
    font-size: 18px;
    font-weight: 300px;
    font-family: "omnes-pro", sans-serif;
    margin-top: 10px;
}



.question {
    color:  #00B29E;
}

.answer {
    margin-top: 0px;
    margin-left: 0px;
}

.question p,
.answer p {
    font-size: 21px;
}

.question p {
    margin-bottom: 5px;
}

ul {
    margin-left: 30px;
}

.confinfo,
.confinfo p {
    font-size: 18px;
    margin-bottom: 14px;
/*  line-height: 1.3; */
}

.confinfo strong {
    /*font-weight: 500;*/
    /*margin: 0 0 6px 0;*/
    /*display: block;*/
}

.answer-list li {
    font-size: 21px;
    font-weight: 300;
}

.getintouch {
    font-size: 21px;
}

b.boldinfaq,
strong {
    font-weight: 600;

}

/* -----------------------------------------
   RESOURCES
----------------------------------------- */

.section {
    margin: 0 0 30px 0;
}

.documentation p {
    font-size: 16px;
}

.documentation h4 {
    margin-bottom: 0px;
}

#registration-questions li span {
    font-size: 18px;
}


/* -----------------------------------------
   SCHEDULE
----------------------------------------- */

table, 
table thead, 
table thead tr th, 
table tfoot tr td, 
table tbody tr td,
table tfoot,
td,
tr,
table tbody tr:nth-child(even)  {
    background-color: transparent;
    border: 0;
    font-weight: 300;
    font-size: 21px;
}

table thead tr th {
    padding: 0 0 0px 0;
    font-weight: 500;
}

.schedule-label {
    padding: 0 15px 21px 0; 
}

.schedule-description {
    padding: 0 0px 21px 0;
}

table {
    width: 400px;
    float: left;
}


/* -----------------------------------------
   RESPONSIVE DESIGN
----------------------------------------- */

@media only screen and (max-width:500px) {
    body {
        border-width: 0.8em 0;
        padding: 0;
    }
    header {
        margin: 0.5em 0
    }

    h1 {
        font-size: 30px;
        line-height: 1;
    }

    h1 span {
        font-size: 16px;
    }

    h2 {
        font-size: 22px;
    }

    nav ul li {
        font-size: 1.1em;
        padding-right: 10px;
    }

    p,
    .intro-content p {
        font-size: 18px;
    }
} 