---
title: Contact
---

<div class="row">
    
    <div class="twelve columns">
        <h4>Get in touch</h4>
    </div>

   <div class="three columns getintouch">
        <p>Email us <br/><a href="mailto:team@codewithme.us">team@codewithme.us</a> </p>
    </div>

    <div class="three columns getintouch">
        <p>Tweet at us <br/><a href="http://www.twitter.com/codewithme">@codewithme</a></p>
    </div>

    <div class="six columns"></div>

</div>

<div class="row">

    <div class="twelve columns">

        <h4>Join our mailing list</h4>
        <p style="margin-bottom:0px;">Hear about new workshops and other initiatives.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="http://codewithmemiami.us6.list-manage.com/subscribe/post?u=63cc9327bd64075d5d9bc6340&amp;id=c6fc981c14" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </form>
        </div>

    </div>

</div>