---
title: FAQ
---

 <div class="row">

     <div class="nine columns" style="padding-right: 30px">
    	
    	<h4>Frequently asked questions</h4>

		<% for section in workshop.faqs %>
			<div class="section">
				<div class="question">
                    <%= section.question %>
                </div>
				<div class="answer">
                    <%= section.answer %>
                </div>
			</div>
		<% end %>
		
	</div>

   <%= partial( :sidebar, :locals => { :workshop => workshop, :show_apply => true }) %>
      
</div>