<h3>Join our mailing list</h3>
<p style="margin-bottom:0px;">Hear about new workshops and other initiatives.</p>
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://codewithmemiami.us6.list-manage.com/subscribe/post?u=63cc9327bd64075d5d9bc6340&amp;id=c6fc981c14" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
    <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>
<!--End mc_embed_signup-->  