<div class="three columns">
  <h4>Upcoming workshops</h4>
  <p><a href="/portland/" target="_blank">Portland, Ore., May 4-5</a></p>
  <h4>Get involved</h4>
  <p>
    <a href="/bring-us-to-your-city.html" target="_blank">Bring us to your city</a>
    <br /><a href="/volunteer-as-a-mentor.html" target="_blank">Volunteer as a mentor</a>
    <br /><a href="/become-a-sponsor.html" target="_blank">Become a sponsor</a>
    <br /><a href="/about-us.html" target="_blank">Learn about us</a>
  </p>
  <h4>Past workshops</h4>
  <p>
      <a href="/miami/" target="_blank">Miami</a>
      <br /><a href="/dc/" target="_blank">Washington, D.C.</a></p>
</div>