---
title: About the program
page_type: inside
links: | 
    <a href="#mission">Mission</a> |
    <a href="#pair">2:1 ratio</a> |
    <a href="#why">Why we do this</a> |
    <a href="#curriculum">Curriculum</a> |
    <a href="#cofounders">Co-founders</a>
# <a href="#said">What people have said</a> 
---

<section id="mission">
    <h3>Mission</h3>
    <p><em>Code with me</em>'s mission is to help journalists overcome their fear of code and use it to tell the stories they couldn't before. By pairing students with mentors we'll build self-supporting, local coding communities, and give our students the confidence and skills to teach themselves what they want to learn next.</p> 
</section>

<section id="pair">
    <h3>2:1 ratio</h3>
    <p>We're extremely proud to say that every <em>Code with me</em> workshop has a 2:1 student-to-mentor ratio. It all goes back to <a href="#why">why we do this</a> in the first place: when we both started learning code, we had mentors when we really needed them, and we want to pass that experience on to as many journalists as possible.</p> 
    <p>All of our mentors are either journalists themselves, or interested in helping journalists. All of our mentors, just like the co-founders, are volunteers and donate their time to make <em>Code with me</em> a reality.</p> 
</section>

<section id="curriculum">
    <h3>Curriculum</h3>
    <p>We offer <a href="https://github.com/codewithme/main-curriculum" target="_blank">our teaching material</a> under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">a Creative Commons license</a>: Attribution-NonCommercial-ShareAlike 3.0 Unported, which means you can share and adapt our work, as long as you attribute <em>Code with me</em>, share your resulting work under the same license, and don't use it for commercial purposes. If you have a commercial project in mind, please <a href="mailto:team@codewithme.us">contact us</a>.</p>    
</section>

<section id="why">
    <h3>Why we do this</h3>
    <p>Both of us have been where the students are: wishing that someone would just sit down to code with us and help us learn. Luckily, we both found mentors who were generous with their time, and now we want to make sure other journalists struggling to learn these skills on their own find the mentors they're wishing for.</p>
</section>
    
<section id="cofounders">
    <h3>Co-founders</h3>
    <p><strong><a href="http://tgirat.com">Tom Giratikanon</a></strong> builds interactive graphics at The New York Times, and was a newsroom developer at The Boston Globe. He teaches programming to high school students each summer at the Medill School of Journalism.</p>
        <p><strong><a href="http://sisiwei.com">Sisi Wei</a></strong> develops news applications at ProPublica. She has previously worked as a graphics editor at the Washington Post, and she has taught a one-week intensive workshop on data visualization at the University of British Columbia.</p>
</section>

<!-- <section id="said">
  <h3>What people have said</h3>
  <ul>
    <li><a href="http://knightlab.northwestern.edu/site/2013/02/18/pair-programming-ish-learning-model-and-code-with-me-miami-thoughts/">Pair-programming-ish learning model and <em>Code with me Miami</em> thoughts</a>, Miranda Mulligan, mentor, Knight Lab (workshop sponsor)</li>
    <li><a href="http://davestanton.com/code-with-me-workshop-in-miami-for-feb-2-3-2012/"><em>Code with me</em> workshop in Miami</a>, Dave Stanton, mentor</li>
    <li><a href="http://michelleminkoff.com/2012/08/19/learning-about-teaching-at-code-with-me/">Learning about teaching at <em>Code with me</em></a>, Michelle Minkoff, mentor</li>
    <li><a href="http://theferrisfiles.com/2012/08/calling-coding-superpowers/">Calling on Coding Superpowers</a>, David Ferris, student</li>
  </ul>
</section> -->