---
title: About the program
page_type: inside
---

<div class="row jumps">
    <div class="eight columns offset-by-two">
        <a href="#mission">Mission</a> <span>|</span>
        <a href="#pair">2:1 ratio</a> <span>|</span>
        <a href="#why">Why we do this</a> <span>|</span>
        <a href="#cofounders">Co-founders</a> 
    </div>
</div>
        

<div id="mission" class="row first-row">
    <div class="eight columns offset-by-two">
        <h3>Mission</h3>
        <p><em>Code with me</em>'s mission is to help journalists overcome their fear of code and use it to tell the stories they couldn't before. By pairing students with mentors we'll build self-supporting, local coding communities, and give our students the confidence and skills to teach themselves what they want to learn next.</p> 
    </div>
</div>

<div id="pair" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>2:1 ratio</h3>
        <p>We're extremely proud to say that every <em>Code with me</em> workshop has a 2:1 student-to-mentor ratio. It all goes back to <a href="#why">why we do this</a> in the first place: when we both starting learning code, we had mentors when we really needed them, and we want to pass that experience on to as many journalists as possible.</p> 
        <p>All of our mentors are either journalists themselves, or interested in helping journalists. All of our mentors, just like the co-founders, are volunteers and donate their time to make <em>Code with me</em> a reality.</p> 
    </div>
</div>

<div id="why" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Why we do this</h3>
        <p>Both of us have been where the students are: wishing that someone would just sit down to code with us and help us learn. Luckily, we both found mentors who were generous with their time, and now we want to make sure other journalists struggling to learn these skills on their own find the mentors they're wishing for.</p>
        </div>
</div>
    
<div id="cofounders" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Co-founders</h3>
        <p><strong><a href="http://tgirat.com">Tom Giratikanon</a></strong> builds interactive graphics at The New York Times, and was a newsroom developer at The Boston Globe. He teaches programming to high school students each summer at the Medill School of Journalism.</p>
        <p><strong><a href="http://sisiwei.com">Sisi Wei</a></strong> develops news applications at ProPublica. She has previously worked as a graphics editor at the Washington Post, and she has taught a one-week intensive workshop on data visualization at the University of British Columbia.</p>
    </div>
</div>