---
title: Bring us to your city
page_type: inside
links: |
    <a href="#organizer">Organizers</a> |
    <a href="#venue">Venue</a> |
    <a href="#mentors">Mentors</a> |
    <a href="#sponsors">Sponsors</a> |
    <a href="#fee">Registration fee</a> |
    <a href="#applications">Applications</a> 
---

<section>
    <h3 id="organizer">Become a local organizer</h3>
    <p>Help us bring <em>Code with me</em> to your area! We love working with local journalists and programmers, and need your help to:</p>
    <ul class="bullet">
        <li>Find a teaching venue</li>
        <li>Recruit mentors</li>
        <li>Secure sponsorship</li>
    </ul>
    <p>If you want to be a local organizer, <a href="mailto:team@codewithme.us&subject=I want to help organize a workshop!">just let us know</a>!</p>
</section>

<section id="venue">
    <h3>Venue</h3>
    <p>In each city, we look for a donated venue with a projector, sound system, power outlets and free, reliable wireless Internet, and:</p>
    <ul class="bullet">
        <li>Chairs and tables that can seat 30 or more</li>
        <li>The ability to eat food in the teaching area</li>
        <li>A second room for breakout sessions</li>
    </ul>
</section>

<section id="mentors">
    <h3>Mentors</h3>
    <p>We need at least eight mentors to host a workshop. Mentors, who are volunteers, should be comfortable teaching HTML, CSS and jQuery, and be committed to helping students after the workshop. We highly prefer mentors with journalism experience or interest.</p>
</section>

<section id="sponsors">
    <h3>Sponsors</h3>
    <p> We seek sponsors to provide in-kind donations for breakfast or lunch, or general financial support for food, travel and other costs.</p>
    <p>Want to sponsor <em>Code with me</em>? See our <a href="sponsors.html">Become a sponsor</a> page!</p>
</section>

<section id="fee">
    <h3>Registration fee</h3>
    <p>We charge an $85 registration fee to offset workshop costs. No money goes to us or our mentors. </p>
        <p>We charge a fee so students are committed to attending. But the fee is low to ensure unemployed journalists, freelancers and those without company support can attend.</p> 
</section>

<section id="applications">
    <h3>Applications</h3>
    <p>We accept students through a public, competitive application process. We do not offer private training for organizations.</p>
    <p>We only accept journalists, and journalism students and faculty, who have little or no knowledge of code. We give preference to those who will actively use workshop skills in the service of journalism. We do not reserve spots or give special consideration to applicants from any organization, including sponsors.</p>    
</section>
    
