---
page_type: homepage
---

<p>
    <strong>Learn to code with a mentor by your side.</strong> We run two-day workshops teaching journalists the foundations of HTML, CSS and JavaScript, providing a professional for every two students. For every journalist who wants to code, we want to be your turning point.
</p> 
<p>
    <em>Code with me</em> was founded by <a href="http://twitter.com/giratikanon">Tom Giratikanon</a> and <a href="http://twitter.com/sisiwei">Sisi Wei</a>. Our mission is to help journalists overcome their fear of code and use it to tell stories they couldn't before. We want to build self-supporting, local coding communities, and give our students the confidence and skills to keep learning.  
</p>
<p>To get in touch, <a href="mailto:team@codewithme.us">e-mail us</a> or tweet <a href="http://www.twitter.com/codewithme">@codewithme</a>.</p>

<%= partial( :listserv ) %>

  