---
page_type: homepage
---

 <div class="row intro-row">
    <div class="eight columns offset-by-two">
      <p><strong>Learn to code with a mentor by your side.</strong> We run two-day workshops teaching journalists the foundations of HTML, CSS and JavaScript, providing a professional for every two students. For every journalist who wants to code, we want to be your turning point.</p>
      <p><em>Code with me</em> was founded by <a href="http://twitter.com/giratikanon">Tom Giratikanon</a> and <a href="http://twitter.com/sisiwei">Sisi Wei</a>. We're looking for cities to bring our workshop to. If you want to mentor, have a great teaching space, or know of a city that needs us, let us know! Tweet <a href="http://www.twitter.com/codewithme">@codewithme</a>, <a href="mailto:codewithme.team@gmail.com">e-mail us</a>, or join our <a href="https://groups.google.com/forum/?fromgroups#!forum/codewithme">listserv</a>.</p>
    </div>
  </div>

  <div class="row workshop-row">
    <div class="eight columns offset-by-two">
      <h3>More information</h3>
      <p><a href="/about.html" target="_blank">About the program</a> &nbsp;&middot; &nbsp;<a href="/policies.html" target="_blank">Workshop policies</a></p>
    </div>
  </div>


  <div class="row workshop-row">
    <div class="eight columns offset-by-two">
      <h3>Past workshops</h3>
      <p><a href="/miami/" target="_blank">Miami, February 2013</a> &nbsp;&middot; &nbsp;<a href="/dc/" target="_blank">Washington, D.C., August 2012</a></p>
    </div>
  </div>

  <div class="row workshop-row">
    <div class="eight columns offset-by-two">
      <h3>What people have said</h3>
      <ul>
        <li><a href="http://knightlab.northwestern.edu/site/2013/02/18/pair-programming-ish-learning-model-and-code-with-me-miami-thoughts/">Pair-programming-ish learning model and <em>Code with me Miami</em> thoughts</a>, Miranda Mulligan, mentor, Knight Lab (workshop sponsor)</li>
        <li><a href="http://davestanton.com/code-with-me-workshop-in-miami-for-feb-2-3-2012/"><em>Code with me</em> workshop in Miami</a>, Dave Stanton, mentor</li>
        <li><a href="http://michelleminkoff.com/2012/08/19/learning-about-teaching-at-code-with-me/">Learning about teaching at <em>Code with me</em></a>, Michelle Minkoff, mentor</li>
        <li><a href="http://theferrisfiles.com/2012/08/calling-coding-superpowers/">Calling on Coding Superpowers</a>, David Ferris, student</li>
      </ul>
    </div>
  </div>

