---
title: Bring us to your city
page_type: inside
---

<div class="row jumps">
    <div class="eight columns offset-by-two">
        <a href="#organizer">Become an organizer</a> <span>|</span>
        <a href="#venue">Venue</a> <span>|</span>
        <a href="#mentors">Mentors</a> <span>|</span>
        <a href="#sponsorship">Sponsors</a> 
    </div>
</div>   

<div id="organizer" class="row first-row">
    <div class="eight columns offset-by-two">
        <h3>Become a local organizer</h3>
        <p>Help us bring <em>Code with me</em> to your area! We love working with local journalists and programmers, and need your help to:</p>
        <ul class="bullet">
            <li>Find a teaching venue</li>
            <li>Recruit mentors</li>
            <li>Secure sponsorship</li>
        </ul>
        <p>If you want to be a local organizer, <a href="mailto:team@codewithme.us&subject=I want to help organize a workshop!">just let us know!</a>. You may also want to read about our <a href="/policies.html">registration fee, application process and other policies</a>.</p>
    </div>
</div>

<div id="venue" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Venue</h3>
        <p>In each city, we look for a donated venue with a projector, sound system, power outlets and free wireless Internet, and:</p>
        <ul class="bullet">
            <li>Chairs and tables that can seat 30 or more people</li>
            <li>People are allowed to eat while working</li>
            <li>A second room for breakout sessions</li>
        </ul>
    </div>
</div>

<div id="mentors" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Mentors</h3>
        <p>We need at least eight mentors to volunteer their time for each workshop. Mentors should be comfortable with HTML, CSS and jQuery, and be committed to help students after the workshop. We prefer mentors with journalism experience or interest.</p>
    </div>
</div>

<div id="sponsors" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Sponsors</h3>
        <p> We seek sponsors to provide in-kind donations for breakfast or lunch, or general financial support for food, travel and other costs.</p>
        <p>Want to sponsor <em>Code with me</em>? See our <a href="sponsors.html">Become a sponsor</a> page!</p>
    </div>
</div>

