---
title: Workshop policies
page_type: inside
---

<div class="row jumps">
    <div class="eight columns offset-by-two">
        <a href="#fee">Registration fee</a> <span>|</span>
        <a href="#applications">Applications</a> <span>|</span>
        <a href="#schedule">Schedule</a> <span>|</span>
        <a href="#mentors">Mentors</a> <span>|</span>
        <a href="#venue">Venue</a> <span>|</span>
        <a href="#sponsors">Sponsors</a>
    </div>
</div>
        

<div id="fee" class="row first-row">
    <div class="eight columns offset-by-two">
        <h3>Registration fee</h3>
        <p>We charge an $85 registration fee through Eventbrite, which offsets half the cost of food, travel and teaching materials. No money goes to us or the mentors. We charge a fee because a mentor's time is especially valuable given our ratio, and we want students to be committed to attending. But we keep the fee low to ensure unemployed journalists, freelancers and those without company support can attend.</p> 
    </div>
</div>

<div id="applications" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Applications</h3>
        <p>We plan to announce each workshop at least five weeks ahead of time, and will take applications instead of first-come, first-serve registrations, as we previously did in DC and Miami, and so people don't have to rush to sign up. </p>
        <p>Applications will be accepted for one week. If there are more applicants than spaces, we independently and confidentially use the applications to admit students. </p>
        <p>We prioritize working professionals, professors or students who can directly use programming in service of journalism, especially those who have clear goals. We don't accept non-journalists, or people who are too advanced for the curriculum. We also do not reserve spots or give special consideration to applicants from any organization, including sponsors.</p>    
    </div>
</div>

<div id="schedule" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Pre-workshop schedule</h3>
        <ul class="bullet">
            <li>Six or more weeks before: Identify and approve mentors</li>
            <li>Five weeks before: Application period (one week)</li>
            <li>Four weeks before: Accepted attendees are notified, and register</li>
            <li>Three weeks before: Mentors sent updated curriculum material</li>
            <li>Two weeks before: Prep time</li>
            <li>Week of workshop: Arrive to <em>Code with me</em>!</li>
        </ul>
    </div>
</div>

<div id="mentors" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Mentors</h3>
        <ul class="bullet">
            <li>Mentors should be comfortable with HTML, CSS and jQuery</li>
            <li>Be supportive and willing to engage with students during and especially after the workshop</li>
            <li>Have journalism experience or interest</li>
            <li>Be willing to volunteer their time</li>
        </ul>
    </div>
</div>

<div id="venue" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Venue</h3>
        <p>We look for a free venue with a projector, sound system, power outlets and free wireless Internet, and:</p>
        <ul class="bullet">
            <li>Tables that can seat six or more people, as opposed to a classroom &mdash; it helps people work together</li>
            <li>People are allowed to eat while working</li>
            <li>Ideally, also a second room we can use for breakout sessions</li>
        </ul>
    </div>
</div>

<div id="sponsors" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Sponsors</h3>
        <p>We need sponsors to provide:</p>
        <ul class="bullet">
            <li>In-kind donations for two breakfasts and two lunches</li>
            <li>A free venue with a projector, sound system, power outlets and free wireless Internet</li>
            <li>Financial support, for a thank you dinner for all the mentors who have volunteered their time</li>
            <li>Any additional funding to support costs like travel and hotel for any mentors</li>
        </ul>
        <p>Sponsor logos will be advertised prominently on the website for that workshop, as well as our introductory and wrap up presentations. We'll also be giving a verbal thanks during the workshop and we invite all sponsors to come say a few words about their organization when the program begins.</p>
        <p>Sponsors will not be involved in the application process or mentor selection. Employees of sponsoring organizations will not be given special consideration. <em>Code with me</em> will not co-brand its workshops.</p>
    </div>
</div>