---
title: Workshop policies
page_type: inside
---

<div class="row jumps">
    <div class="eight columns offset-by-two">
        <a href="#fee">Registration fee</a> <span>|</span>
        <a href="#applications">Applications</a> <span>|</span>
        <a href="#license">Using our curriculum</a>
    </div>
</div>
    

<div id="fee" class="row first-row">
    <div class="eight columns offset-by-two">
        <h3>Registration fee</h3>
        <p>We charge an $85 registration fee to offset workshop costs. No money goes to us or our mentors. </p>
            <p>We charge a fee so students are committed to attending. But the fee is low to ensure unemployed journalists, freelancers and those without company support can attend.</p> 
    </div>
</div>

<div id="applications" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Applications</h3>
        <p>We accept students through a public, competitive application process. We do not offer private training for organizations.</p>
        <p>We only accept journalists or journalism students who have little or no knowledge of code. We give preference to those who will actively use workshop skills in service of journalism. We do not reserve spots or give special consideration to applicants from any organization, including sponsors.</p>    
    </div>
</div>

<div id="license" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Using our curriculum</h3>
        <p>We offer our teaching material under <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">a Creative Commons license</a>: Attribution-NonCommercial 3.0 Unported, which means you can share and adapt our work, as long as you attribute <em>Code with me</em> and don't use it for commercial purposes. If you have a commercial project in mind, please <a href="mailto:team@codewithme.us">contact us</a>.</p>    
    </div>
</div>
