---
title: Become a Sponsor
page_type: inside
---

<div class="row jumps">
    <div class="eight columns offset-by-two">
        <a href="#why">Why we need you!</a> <span>|</span>
        <a href="#needs">What we need</a> <span>|</span>
        <a href="#featured">How you'll be featured</a> <span>|</span>
        <a href="#independence">Independence</a> <span>|</span>
    </div>
</div>

<div id="why" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Why sponsor <em>Code with me?</em></h3>
        <p>Something about what we are here, maybe add some student quotes here.</p>

        <p><strong>Interested in sponsoring <em>Code with me</em>?</strong> Contact Tom and Sisi at <a href="mailto:team@codewithme.us" target="_blank">team@codewithme.us</a> and tell us how you'd like to help. Not sure what you can do but want to contribute? We're happy to help brainstorm the best way your organization can help us.</p>




        <p><em>Code with me</em> charges a registration fee because a mentor's time is especially valuable given our ratio, and we want students to be committed to attending. 


            Therefore, the $85 paid by each student offsets up to half the cost of food, travel and teaching materials. The other half we need from sponsors like you.</p>
        <ul class="bullet">
            <li>Your help keeps our fee low, and ensures that unemployed journalists, freelancers and those without company support can afford to attend.</li>
        </ul>
    </div>
</div>

<div id="needs" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>What we need</h3>
        <p>We need sponsors to help provide:</p>
        <ul class="bullet">
            <li>In-kind donations for two breakfasts and two lunches</li>
            <li>Financial support, for a thank you dinner for all the mentors who have volunteered their time</li>
            <li>Any additional funding to support costs like travel and hotel for any mentors who need it</li>
        </ul>
        <p>We also need a free venue with a projector, sound system, power outlets and free wireless Internet, and:</p>
        <ul class="bullet">
            <li>Tables that can seat six or more people, as opposed to a classroom &mdash; it helps people work together</li>
            <li>People are allowed to eat while working</li>
            <li>Ideally, also a second room we can use for breakout sessions</li>
        </ul>
        <p>Or, if you're interested in supporting the program in general, we also accept general financial donations.</p>
    </div>
</div>

<div id="featured" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>How you'll be featured</h3>
        <p>Sponsor logos will be advertised prominently on the website for that workshop, as well as our introductory and wrap up presentations. We'll also be giving a verbal thanks during the workshop and we invite all sponsors to come say a few words about their organization when the program begins.</p>
    </div>
</div>

<div id="independence" class="row workshop-row">
    <div class="eight columns offset-by-two">
        <h3>Independence from sponsors</h3>
        <p>Currently, <em>Code with me</em> will not co-brand its workshops.</p>
        <p>To help us avoid conflicts of interest when pursuing our <a href="about.html">mission statement</a>, sponsors will not be involved in the application process or mentor selection. Employees of sponsoring organizations will not be given special consideration.</p>
    </div>
</div>