---
title: Volunteer as a mentor
page_type: inside
links: |
    <a href="#howto">How to become a mentor</a> |
    <a href="#requirements">Requirements</a> |
    <a href="#location">Location</a>
---

<section id="howto">
    <h3>How to become a mentor</h3>
    <p>If you're interested in being a mentor at any of our upcoming cities, let us know by e-mailing <a href="mailto:team@codewithme.us&subject=I want to volunteer to be a mentor!">team@codewithme.us</a>.</p>
    <p>We'll always respond to confirm we received your e-mail, and once we start planning for that city, we'll contact you again with a list of potential dates.</p>
</section>

<section id="requirements">
    <h3>Requirements</h3>
    <p>To make sure both our mentors and students get the best experience possible, we look for the following in our mentors:</p>
    <ul class="bullet">
        <li>Comfortable teaching HTML, CSS and jQuery, and are able to go past our curriculum if a student picks things up quickly</li>
        <li>Committed to helping students even after the workshop</li>
        <li>Be willing to join the community listserv for that city</li>
        <li>Be able to attend the entire workshop</li>
    </ul>
    <p>We also highly prefer mentors in journalism or who have an interest in journalism.</p>
</section>

<section id="location">
    <h3>Location</h3>
    <p>Because <em>Code with me</em> is trying to build a sustainable community, we look first for mentors from a workshop's surrounding area.</p>
    <p>But in order to make the most impact, we will also decide to target underserved cities without a journalism and technology community. This usually means only a small number of local mentors are available. In these cases, we will extend invitations to those who have mentored for us in the past, or who otherwise teach coding to journalists, to fly from out-of-town for a workshop.</p>
</section>